div.kontakt{
  	max-width: 1200px;
    width:100%;
	margin: 10px auto;
	box-sizing: border-box;
	height: 82vh;
 	background-image:url("../img/cloud.jpg");
  	border-radius: 15px;
  }

.wpcf7-form {
  margin:0 auto;
  display: block;
  width: 400px;
  input, textarea {
	width:100%;
	margin: 0 auto;
  }
  input{
	height: 40px;
  }
  input[type="submit"]{
	background-color: forestgreen;
	display: block;
	width:300px;
	margin:0 auto;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
  }

}
a:focus, a, button, input[type="submit"]{
  outline: 0;
}