.articlePage{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
	background-color: ghostwhite;
	border: 2px solid #CFDDE5;
	margin: 5px;
	width: 32%;
	box-sizing: border-box;
	h2 {
	  text-align: center;
	}
	.thePostThum {
	  max-width: 100%;
	  height: auto;
	}
	a{
	  display: block;
	  border-radius: 15px;
	  width:30%;
	  background-color: floralwhite;
	  margin:5px;
	  padding:10px;
	  border:2px solid #640404;
	  color:#640404;
	  text-decoration: none;
	  text-align: center;
	  font-weight: 700;
	}
  }
}