@import '../slick/slick/slick.css';
@import '../slick/slick/slick-theme.css';
@import 'heder';
@import 'abonamentPage';
@import 'teksty';
@import 'kontakt';



#mainImg {
  background-image: url("../img/mainImg.png");
  width: 1800px;
  height: auto;
  max-width:100%;
  background-repeat:no-repeat;
  background-position: center -55px;
  background-attachment: fixed;
  background-size:contain;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 3em;
  line-height:90px;
  word-spacing: 10px;
  }


  .about {
    p{
      margin: 15px 10px 5px 0px;
      font-size: 18px;
    }
    img{
      float: left;
      padding:15px 15px 15px 0px;
    }
  }
//===== Page o FM MOBILE =====
    #fmMobile{
    margin:2rem 0;
  }
  #pageMobile{
    margin-bottom: 2rem;
  }
  .contentFm{
    display: flex;
    justify-content: space-between;
      }
//===== koniec =====
  .frontPage {
    display: flex;
    justify-content: space-between;
    div {
      background-color: ghostwhite;
      border: 2px solid #CFDDE5;
      margin: 5px;
      h2 {
        text-align: center;
      }
      .thePostThum {
        max-width: 100%;
        height: auto;
      }
      a{
        display: block;
        border-radius: 15px;
        width:30%;
        background-color: floralwhite;
        margin:5px;
        padding:10px;
        border:2px solid #640404;
        color:#640404;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
      }
    }
  }
img{
  max-width:100%;
  height:auto;
}


div.loop{
  margin:0 auto;
}
section.navPost{
  display:flex;
  justify-content: space-between;
  margin: 15px 0px;
  a{
    display: inline-block;
    width:100%;
  }
}

footer {
  width: 100%;
  height:6vh;
  background-color: rgba(0, 0, 128, 0.79);
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    a{
      color:white;
    }
  }
}

@media only screen and (max-width:1024px){
  #mainImg {
    font-size: 3rem;
    line-height: 65px;
    word-spacing: 5px;

  }
}

@media only screen and (max-width:900px){
  #mainImg{
    font-size: 2rem;
    line-height: 60px;
  }
}

@media only screen and (max-width:768px){
  #mainImg{
    width: 787px;
    font-size: 2rem;
    line-height: 50px;
    padding: 0px 12px;
  }
  .articlePage div{
    margin:0px;
  }
}

@media only screen and (max-width:640px) {

  #mainImg {
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
    background-position: center -36px;
  }
  .articlePage div {
    margin: 0px;
    width:100%;
  }
  .abonamentPage {
    flex-wrap: wrap;
    margin: 10px 0px;
    div {
      width: 49%;
      margin: 5px 0px 10px 0px;
    }
  }
  .frontPage{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width:400px) {
  #mainImg {
    background-position: center 15px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


