@charset "UTF-8";
@import url(../slick/slick/slick.css);
@import url(../slick/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
html, body {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  min-height: calc(100vh - 4vh);
  padding-bottom: 34px;
  font-family: 'Ubuntu Condensed', sans-serif; }
  @media only screen and (max-width: 640px) {
    body {
      padding-bottom: 62px; } }

header {
  width: 100%;
  height: 6vh;
  background-color: rgba(85, 150, 126, 0.79);
  position: relative;
  z-index: 9999999; }
  @media only screen and (max-width: 640px) {
    header {
      height: 50px; } }

.container {
  max-width: 1200px;
  margin: 0 auto 45px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .container h2 {
    text-align: center; }
  .container p, .container ul, .container h3 {
    padding: 0 15px; }
  .container p {
    line-height: 1.75em; }

#leftMenu {
  position: fixed;
  width: 100%; }

/******************************************************************
====== Potrzebne do odpowiedniego efektu animacji ======
******************************************************************/
.menu-leftmenu-container {
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all; }

/*********************************
====== menu głowne ======
*********************************/
#menu-leftmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 900px) {
    #menu-leftmenu {
      padding: 0 12px; } }
  #menu-leftmenu li {
    list-style: none;
    display: inline-block; }
    #menu-leftmenu li a {
      display: block;
      padding: 2vh 0;
      color: white;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none; }
      @media only screen and (max-width: 640px) {
        #menu-leftmenu li a {
          width: 167px; } }

/*********************************
====== media query ======
*********************************/
@media only screen and (max-width: 640px) {
  .menu-leftmenu-container {
    margin-top: 50px;
    margin-right: -65px;
    float: right;
    -webkit-transform: translate(158%);
    transform: translate(158%); }
  #menu-leftmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #menu-leftmenu li {
      display: block; }
      #menu-leftmenu li a {
        text-align: center; } }

/*********************************
====== odstęp pod menu by nic na nie wchodziło ======
*********************************/
.space {
  height: 6vh; }
  @media only screen and (max-width: 640px) {
    .space {
      height: 50px; } }

/*********************************
====== pod menu ======
*********************************/
.sub-menu {
  display: none; }

#menu-leftmenu .menu-item-has-children {
  position: relative; }
  #menu-leftmenu .menu-item-has-children:hover .sub-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 15px; }
    @media only screen and (max-width: 640px) {
      #menu-leftmenu .menu-item-has-children:hover .sub-menu {
        position: relative;
        width: 30%; } }
    #menu-leftmenu .menu-item-has-children:hover .sub-menu li {
      display: block;
      border-radius: 15px;
      background-color: #e4e7ec;
      margin: 0px 0px 10px 0;
      border: 2px solid #263959; }
      #menu-leftmenu .menu-item-has-children:hover .sub-menu li a {
        padding: 15px;
        display: block;
        color: #263959;
        text-align: center; }
        @media only screen and (max-width: 640px) {
          #menu-leftmenu .menu-item-has-children:hover .sub-menu li a {
            text-align: center; } }

/******************************************************************
======linki w ofertach sprzedarzowych======
******************************************************************/
strong a {
  display: block;
  border-radius: 15px;
  width: 30%;
  margin: 5px;
  padding: 10px;
  background-color: #e4e7ec;
  border: 2px solid #263959;
  color: #263959;
  text-decoration: none;
  text-align: center;
  font-weight: 700; }

/*********************************
====== paginacja ======
*********************************/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 0px; }
  .pagination a {
    display: block;
    border-radius: 15px;
    background-color: #e4e7ec;
    margin: 5px;
    padding: 10px;
    border: 2px solid #6d819c;
    color: #6d819c;
    text-decoration: none;
    text-align: center;
    font-weight: 700; }
  .pagination span.page-numbers {
    display: inline-block;
    border-radius: 15px;
    width: 30%;
    background-color: rgba(228, 231, 236, 0.5);
    margin: 5px;
    padding: 10px;
    border: 2px solid #263959;
    color: #263959;
    text-decoration: none;
    text-align: center;
    font-weight: 700; }

/*********************************
====== hamburger ======
*********************************/
.nav-toggle {
  display: none;
  width: 55px;
  height: 55px;
  border: none;
  background: transparent;
  cursor: pointer;
  float: right;
  margin-top: 6px; }
  @media only screen and (max-width: 640px) {
    .nav-toggle {
      display: block; } }

.nav-toggle span {
  width: 70%;
  margin: 6px auto;
  height: 5px;
  background: #000;
  display: block;
  border-radius: 2px; }

.show {
  -webkit-transform: translate(1%);
  transform: translate(1%);
  left: 0; }

@media only screen and (max-width: 640px) {
  #menu-leftmenu li {
    width: 180px;
    background-color: #559667; } }

.abonamentPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 0px; }
  .abonamentPage div {
    background-color: ghostwhite;
    border: 2px solid #CFDDE5;
    width: 24%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .abonamentPage div h2 {
      text-align: center; }
    .abonamentPage div .thePostThum {
      max-width: 100%;
      height: auto; }
    .abonamentPage div a {
      display: block;
      border-radius: 15px;
      width: 30%;
      margin: 5px;
      padding: 10px;
      background-color: #e4e7ec;
      border: 2px solid #263959;
      color: #263959;
      text-decoration: none;
      text-align: center;
      font-weight: 700; }

.articlePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .articlePage div {
    background-color: ghostwhite;
    border: 2px solid #CFDDE5;
    margin: 5px;
    width: 32%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .articlePage div h2 {
      text-align: center; }
    .articlePage div .thePostThum {
      max-width: 100%;
      height: auto; }
    .articlePage div a {
      display: block;
      border-radius: 15px;
      width: 30%;
      background-color: #e4e7ec;
      margin: 5px;
      padding: 10px;
      border: 2px solid #263959;
      color: #263959;
      text-decoration: none;
      text-align: center;
      font-weight: 700; }

div.kontakt {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/cloud.jpg");
  border-radius: 15px;
  padding: 132px 0; }
  @media only screen and (max-width: 640px) {
    div.kontakt {
      margin: 10px auto 48px auto; } }

.wpcf7-form {
  margin: 0 auto;
  display: block;
  max-width: 400px; }
  .wpcf7-form input, .wpcf7-form textarea {
    width: 100%;
    margin: 0 auto; }
  .wpcf7-form input {
    height: 40px; }
  .wpcf7-form input[type="submit"] {
    background-color: forestgreen;
    display: block;
    width: 300px;
    margin: 0 auto;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    cursor: pointer; }

a:focus, a, button, input[type="submit"] {
  outline: 0; }

#kreoMenu {
  position: fixed;
  top: 45px;
  width: 1200px; }
  #kreoMenu .menuKreatywnosc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 15px 0;
    background-color: #9BC53D;
    border-radius: 10px;
    position: relative; }
    #kreoMenu .menuKreatywnosc a {
      display: block;
      padding: 15px;
      border-radius: 10px;
      text-decoration: none;
      color: #211A1E;
      font-size: 20px;
      font-weight: 600; }

.sizeContent {
  min-height: calc(100vh - 10vh);
  border-radius: 15px; }
  .sizeContent#wstep {
    color: blue;
    border-top: 9px solid #5bc0eb;
    border-bottom: 9px solid #5bc0eb;
    border-left: 1px solid #5bc0eb;
    border-right: 1px solid #5bc0eb;
    padding-top: 12vh; }
  .sizeContent#zasady {
    color: red;
    border-top: 9px solid #fde74c;
    border-bottom: 9px solid #fde74c;
    border-left: 1px solid #fde74c;
    border-right: 1px solid #fde74c;
    padding-top: 12vh; }
  .sizeContent#etapy {
    color: blueviolet;
    border-top: 9px solid #C3423F;
    border-bottom: 9px solid #C3423F;
    border-left: 1px solid #C3423F;
    border-right: 1px solid #C3423F;
    padding-top: 12vh; }

#mainImg {
  background-image: url("../img/mainImg.png");
  width: 1800px;
  height: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center -55px;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 3em;
  line-height: 90px;
  word-spacing: 10px; }

.about p {
  margin: 15px 10px 5px 0;
  font-size: 18px; }

.about img {
  float: left;
  margin: 10px 15px 10px 15px; }

.about:before {
  content: "";
  clear: both; }

/*********************************
//===== Page o FM MOBILE =====
********************************/
#fmMobile {
  margin: 2rem 0; }
  #fmMobile img {
    margin: 10px 15px; }

#pageMobile {
  margin-bottom: 2rem; }

.contentFm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.frontPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .frontPage div {
    background-color: rgba(228, 231, 236, 0.5);
    border: 2px solid #CFDDE5;
    margin: 5px; }
    .frontPage div h2 {
      text-align: center;
      color: #263959; }
    .frontPage div .thePostThum {
      max-width: 100%;
      height: auto; }
    .frontPage div a {
      display: block;
      border-radius: 15px;
      width: 30%;
      background-color: #e4e7ec;
      margin: 5px;
      padding: 10px;
      border: 2px solid #263959;
      color: #263959;
      text-decoration: none;
      text-align: center;
      font-weight: 700; }

img {
  max-width: 100%;
  height: auto; }

div.loop {
  margin: 0 auto; }

section.navPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 15px 0px; }
  section.navPost a {
    display: inline-block;
    width: 100%; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6vh;
  background-color: rgba(85, 150, 126, 0.79);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  width: 100%; }
  @media only screen and (max-width: 640px) {
    footer {
      height: 100px; } }
  footer a {
    color: white; }
  footer p {
    margin: 0 20px; }

@media only screen and (max-width: 1024px) {
  #mainImg {
    font-size: 3rem;
    line-height: 65px;
    word-spacing: 5px; } }

@media only screen and (max-width: 900px) {
  #mainImg {
    font-size: 2rem;
    line-height: 60px; } }

@media only screen and (max-width: 768px) {
  #mainImg {
    width: 787px;
    font-size: 2rem;
    line-height: 50px;
    padding: 0px 12px; }
  .articlePage div {
    margin: 0px; } }

@media only screen and (max-width: 640px) {
  #mainImg {
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
    background-position: center -99px; }
  .articlePage div {
    margin: 0px;
    width: 100%; }
  .abonamentPage {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px 0px; }
    .abonamentPage div {
      width: 49%;
      margin: 5px 0px 10px 0px; }
  .frontPage {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
